@model AngularMVCTypeScript.Features.Home.HomeViewModel

<div>
    <h1 ng-bind="Model.HelloAngular">@Model.HelloAngular</h1>

    <input type="text" ng-model="Model.HelloAngular" value="@Model.HelloAngular" />

    <div id="content"></div>
</div>
