@model AngularMVCTypeScript.Features.Home.HomeViewModel

<div>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.HelloAngular, new { ng_bind = "Model.HelloAngular"})
        <br />
        @Html.TextBoxFor(model => model.HelloAngular, new { ng_model = "Model.HelloAngular", ng_remote_validate = Url.Action(MVC.Home.Validate()) })
        <br />
        <input type="submit" ng-click="checkAlignment()" value="check if evil" />
    }
</div>
